<div class="form-group" ng-controller="AddEventCtrl">

    <my-map></my-map>
    <!--<label>Location:</label>-->
    <!--<br>-->
    <!--<input type="button" onclick="angular.element(this).scope().addLocation()"/>Set Location-->


    <br><label class="text_color_white">Caption:</label><br>
    <textarea class="form-control" ng-model="event.caption"></textarea>


    <!--<br>-->
    <!--<label class="text_color_white">Tags:</label><br>-->
    <!--<input class="form-control" ng-model="tagText">-->
    <!--<br>-->
    <!--<button ng-click="addTag(tagText)" class="btn btn-xs btn-info">Add hashtags</button>-->
    <!--<br>-->


    <br><label>Event Photo:</label><br>
    <img class="img-responsive" ng-src="{{ event.picture }}">
    <input type="file" id="file" name="file" accept="image/gif, image/x-png, image/jpeg"
           onchange="angular.element(this).scope().addPhoto()"/>


    <br>
    <br>
    <button ng-click="addEvent()" class="btn btn-md btn-success glyphicon glyphicon-floppy-disk pull-left">
        Submit to Journal
    </button>
    <br>
    <br>
    <br>
</div>
<!--End of form-group div-->


<div ng-controller="EventsCtrl as Feed">
    <h2 class="text_color_white">Search:</h2><br>
    <label class="text_color_white">By Caption:</label><input ng-model="searchText.caption">
    <label class="text_color_white">By Address:</label><input ng-model="searchText.address">
    <!--<label>By Tags: <input ng-model="searchText.tags"></label>-->
    <label class="text_color_white">By Date:</label><input ng-model="searchText.submitted_date_time"><br>
    <br>
    <br>
    <br>
    <br>
    <!--<table id="searchObjResults" border="1">-->
        <!--<tr>-->
            <!--<th>Picture</th>-->
            <!--<th>Caption</th>-->
            <!--<th>Location</th>-->
            <!--<th>Address</th>-->
            <!--&lt;!&ndash;<th>Tags</th>&ndash;&gt;-->
            <!--<th>Date Submitted</th>-->

        <!--</tr>-->

        <!--&lt;!&ndash;Could also just use 'event' instead of 'eventObj'.  This is for educational purposes, and to avoid confusion.... &ndash;&gt;-->

        <!--<tr ng-repeat="eventObj in Feed.events | filter:searchText | orderBy : 'submitted_date_time' : true">-->
            <!--<td><a href="#/events/{{ eventObj.id }}"></a>-->
                <!--<img width="200" ng-src="{{ eventObj.picture }}"></td>-->
            <!--<td><a href="#/events/{{ eventObj.id }}">-->
                <!--{{eventObj.caption}}</a></td>-->
            <!--<td><a href="#/events/{{ eventObj.id }}">-->
                <!--{{ eventObj.latitude }}, {{ eventObj.longitude }}</a></td>-->
            <!--<td><a href="#/events/{{ eventObj.id }}">-->
                <!--{{ eventObj.address }}</a></td>-->
            <!--&lt;!&ndash;<td ng-repeat="e in eventObj.tags"><a href="#/events/{{ eventObj.id }}">{{e.name}}</a></td>&ndash;&gt;-->
            <!--<td><a href="#/events/{{ eventObj.id }}">-->
                <!--{{ eventObj.submitted_date_time | date: 'medium' }}</a></td>-->
        <!--</tr>-->
    <!--</table>-->
    <div class="master" ng-repeat="event in Feed.events | filter:searchText | orderBy : 'submitted_date_time' : true | limitTo : numEventsDisplayed">
        <div  class="row1_photo_text">

            <div class="photobox" >
                <img ng-src="{{ event.picture }}">
            </div>

            <div class="row_caption_box">
                <div class="col-sm-10 caption_box">
                    <div class="caption_row">
                        <div class="col-sm-100 caption_title_text">
                          <p>{{ event.caption }}</p>
                        </div>
                    </div>
                    <div class="caption_text_row">
                        <p>{{ event.address }}</p>
                    </div>
                </div>
            </div>

            <div class="button_row">
                <div class="button_1">

                </div>

                <div class="button_2">

                </div>

                <div class="button_3">

                </div>
            </div>
        </div>
    </div>
</div>